/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

header .cart img {
    height: 40px;
}

#cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    position: relative;
    top: -10px;
    left: -10px;
}

main {
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product h2 {
    font-size: 18px;
}

.product-price {
    color: red;
    font-weight: bold;
}

#cart-items .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#cart-items .cart-item img {
    width: 100px;
    margin-right: 20px;
}

#cart-items .cart-item h2 {
    font-size: 18px;
    margin-right: auto;
}

.cart-item-price {
    font-size: 18px;
    color: red;
}

/* Buttons */
button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
